beautifulsoup4 >= 4.0
nltk

# for scraping wikipedia
git+git://github.com/rdeits/Wikipedia.git@fix-continuing-query

# for notebook interface
ipython >= 2.0
numpy
pyzmq >= 2.1.11
jinja2
tornado

# for testing
nose